@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to right, #000428, #004e92);
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.circles::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 20%, transparent 80%);
    animation: animate 30s linear infinite;
    z-index: 0;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

@media (max-width: 767px) {
    .context h1 {
        font-size: 2.5rem;
    }

    .context h3 {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .context h1 {
        font-size: 3rem;
    }

    .context h3 {
        font-size: 1.2rem;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0c0844;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  h2 {
    color: #0c0844;
    margin-bottom: 20px;
    transition: color 0.3s ease;
  }
  
  h2:hover {
    color: #e5390c;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input::placeholder {
    color: #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #e5390c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0c0844;
    color: #f4f4f4;
  }
  